.forgotButton{
    text-align: right;
    color: green;
}

.verifyEmailButton {
    text-align: center;
    color: black;
    background-color: gold;
}
.retryButton{
    text-align: center;
    color: green;
}
.googleBtn{
    height: 30%;
    width: 30%;
}