.textWhite {
    color: white;
}
.spaceBanao {
    
    @media screen and (min-width: 768px){
        display: flex;  
        justify-content: space-evenly;
    }
    justify-content: space-evenly;
}

.firstBox{
    /* margin-left: 2em; */
    margin-right: 2em;
    @media screen and (max-width: 768px){
        margin-right: 0;
        margin-bottom: 0.5em;
    }
}
.card-section {
    margin: 2rem;
}
