.textWhite {
    color: white;
}
.spaceBanao {
    
    @media screen and (min-width: 768px){
        display: flex;  
        justify-content: space-evenly;
    }
    justify-content: space-evenly;
}

.firstBox{
    /* margin-left: 2em; */
    margin-right: 2em;
    @media screen and (max-width: 768px){
        margin-right: 0;
        margin-bottom: 0.5em;
    }
}
.card-section {
    margin: 2rem;
    box-shadow: 10px 10px 39px -4px rgba(191,153,49,1);
}

.card-section:hover {
    box-shadow: 10px 10px 39px 13px rgba(68,48,199,1);
}

.chatBoxIcon {
    display: flex;
    border: 2px solid blueviolet;
    justify-content: center;
    align-items: center;
}

.githubLogo{
    width: 1.5em;
    height: 1.5em;
    margin-left: 0;
}